<!DOCTYPE html>
<html>
<head>
  <title>Dont Bother Me : Cab Service</title>
</head>
<body>
  <p><%= message %></p>
  <p><a href="/signout">I need cab tomorrow</a></p>
  <p><a href="/signout">Sign Out</a></p>
</body>
</html>
