<!DOCTYPE html>
<html>
<head>
  <title>Dont Bother Me : Cab Service</title>
</head>
<body>
  <h1>Dont Bother Me : Cab Service</h1>
  <p><%= message %></p>
  <a href="/signup">SIGNUP</a>
  <a href="/login">LOGIN</a>
</body>
</html>
